@import "../../Styles/variables.scss";

.res-body {
  @include flexBody();
}

.top-box {
  display: flex;
  width: 100vw;
  margin-left: 40%;
  justify-content: space-evenly;
  font-family: $mainText;
  @include text();
  font-size: 10pt;
  align-items: flex-start;
}

.bottom-box {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 50px;
}

.reservation-form {
  display: inline-block;
  box-sizing: border-box;
  border: double;
  padding: 50px;
  width: 100%;
  font-family: $mainText;
  font-size: 20pt;
}

.user-info {
  margin-right: 30px;
}

.user-button {
  font-family: $buttonText;
  background: rgb(213, 187, 236);
  color: black;
}

.makeRes {
  font-size: 25pt;
  text-decoration: underline;
  margin-left: 20%;
  width: 100%;
}

.quote-image {
  @include flexBody();
  width: 100%;
}

.res-input {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 203, 244);
}

.large-parties {
  font-family: $buttonText;
  font-size: 10pt;
  line-height: 1.2;
}
