$mainText: "Elsie", cursive;
$buttonText: "Libre Baskerville", serif;
$boxShadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.204);

@mixin hoverEffects {
  color: black;
  transform: scale(1.1);
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

@mixin flexBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin quoteText {
  font-family: "MonteCarlo", cursive;
  font-style: bold;
  font-size: 20pt;
  color: rgb(75, 2, 75);
  line-height: 1.2;
  word-spacing: 3px;
}

@mixin text {
  font-size: 14pt;
  color: rgb(75, 2, 75);
  line-height: 1.2;
  word-spacing: 3px;
  display: flex;
  align-items: center;
}

@mixin title {
  margin-top: 20px;
  font-family: "Elsie", cursive;
  color: black;
  font-size: 25pt;
}

@mixin formStyling {
  box-sizing: border-box;
  border: double;
  padding: 50px;
  width: 100%;
  font-family: $mainText;
  font-size: 20pt;
}

@mixin formboxing {
  box-sizing: border-box;
  border: double;
  padding: 50px;
  font-family: $mainText;
}

@mixin buttonFormat {
  font-family: $buttonText;
  padding: 5px;
  background: rgba(154, 98, 206, 0.421);
  color: black;
}
