@import "./Styles/variables.scss";

body {
  background-color: rgb(248, 237, 220);
}
.App {
  align-items: center;
}

.navbar {
  padding: 20px;
  border-bottom: 3px solid black;
  background-color: rgb(172, 172, 240);
}
.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  font-family: $buttonText;
  font-size: 20pt;
  margin-left: 50%;
}

.title-link {
  font-family: "Yellowtail", cursive;
  font-size: 50pt;
  color: black;
  align-items: flex-start;
  margin: 5%;
  text-decoration: none;
}

.links {
  text-decoration: none;
  color: rgb(65, 6, 63);
  &:hover {
    @include hoverEffects();
  }
}
